form, p, span {
    margin:0;
    padding:0; }
  
input { font:12px arial; }
  
#usermsg {
        width: 80%;
        border:1px solid black;
        position: relative;
        left: 35px;
}

#submitmsg {
    float: right;
    margin-right: 12px;
    height: 40px;
    width: 60px;
}
  
.welcome { float:left; }

.msgbefore{
    margin-left: 35px;
    margin-right: 35px;
    height: 30px;
}
label.msgbefore {
    color: white;
}
