<div id="wrapper">
        <div id="menu">
              <p class="welcome">Welcome, <b></b></p>
              <p class="logout"><a id="exit" href="#">Exit Chat</a></p>
              <div style="clear:both"></div>
          </div>
           
          <div id="chatbox" ng-app="myApp" ng-controller="myCtrl">
            <app-chat-history></app-chat-history>
            {{postings}}
          </div>
           
          <form name="message" action="">
              <p class="msgbefore">Your message: {{chatText}}</p>
              <textarea name="usermsg" [(ngModel)]='chatText'  (keyup.enter)="sendChat()"  maxlength="1000" minlength="1" type="text" required id="usermsg"  placeholder="Hier kannst du reinschreiben Bruder!" size="63" (keyup.enter)="sendMessage()" ></textarea>/>
              <input name="submitmsg" [disabled]="!chatText" type="submit"  id="submitmsg" value="Send" (click)="sendChat()" />
            </form>
  </div> 