<form name="message" action="">
    <p class="msgbefore">Your message: {{chatMsg}}</p>
    <label class="msgbefore">Username:</label><input  name="username" [(ngModel)]='username' [disabled]="inputDisabled"/>
    <textarea name="chatMsg" [(ngModel)]='chatMsg' (keyup.enter)="sendMsg()" maxlength="1000" minlength="1" type="text"
        id="usermsg" placeholder="Hier könnte deine Nachricht stehen." size="63" (keyup.enter)="sendMessage()"
        ng-pattern="/\S+/"></textarea>/>
    <input name="submitmsg" [disabled]="!chatMsg || !username" type="submit" id="submitmsg" value="Send" (click)="sendMsg()" />
</form>