<div id="wrapper">
        <div id="menu">
              <p class="welcome">Welcome, <b></b></p>
              <p class="logout"><a id="exit" href="#">Exit Chat</a></p>
              <div style="clear:both"></div>
          </div>
           
          <div id="chatbox" ng-app="myApp" ng-controller="myCtrl">
            <p>Your message: {{usermsg}}</p>
          </div>
           
          <form name="message" action="">
              <textarea name="usermsg" [(ngModel)]='usermsg' (keydown.enter)="sendChat()"  maxlength="1000" minlength="1" type="text" required id="usermsg"  placeholder="Hier kannst du reinschreiben Bruder!" size="63" ></textarea>/>
              <input name="submitmsg" [disabled]="!usermsg" type="submit"  id="submitmsg" value="Send" />
            </form>
      </div> 
