.footer{
    position: fixed;
    bottom: 0%;
    width: 100%;
    min-height: 40px;
    max-height: 40px;
    background-color: #379a19;
    border-top: 1px solid white;
}

#footertext {
    position: fixed;
    bottom: 10px;
    text-align: center;
    color: white;
    left: 45%;
}