.container {
    margin: 0px;
    padding: 0px;
    order: inherit;
}
.row{
    background-color: #379a19;
    border-top: 1px solid white;
}
#footer{
    bottom: 0%;
    padding: 0px;
    margin: 0px;
}
#fot{
    padding: 0px;
    margin: 0px;
    width: 100%;
}

#footertext {
    position: relative;
    text-align: center;
    color: white;
    right: 25%;
    bottom: -13px;
}

#flamecomp {
    height: 50px;
    padding: 0px;
    margin: 0px;
    width: 100%;
}
