<div class="container col-12">
    <div class="row">
        <div id="fot" class="col-8">
            <div id="footer">
                <h6 id="footertext">Created by ChatBots</h6>
            </div>
        </div>
        <div id="flamecomp" class="col-4">
            <div id="smoke">
                <span class="s0"></span>
                <span class="s1"></span>
                <span class="s2"></span>
                <span class="s3"></span>
                <span class="s4"></span>
                <span class="s5"></span>
                <span class="s6"></span>
                <span class="s7"></span>
                <span class="s8"></span>
                <span class="s9"></span>
            </div>
            <div id="flame" class="container col-4">
                <div class="red flame"></div>
                <div class="orange flame"></div>
                <div class="yellow flame"></div>
                <div class="white flame"></div>
                <div class="blue circle"></div>
            </div>

        </div>
    </div>
</div>