.header{
    background-color: lightblue;
    text-align: right;
    border-bottom: 3px solid black;
}
.logo{
    height: 1cm;
    width: 3cm;
    float: Left;
}
.easychat{
    font-size: 1cm;
    font-family: arial;
}
