.header{
    background-color: lightblue;
    max-height: 80px;
    border-bottom: 1px solid grey;
}
.logo{
   max-height: 80px;
}
.easychat{
   
    text-align: right;
}
.easychat h1{
    font-size: 30px;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
}
