.header{
    max-height: 120px;
    background-color: #379A19;
}
.logo{
    position: relative;
    height: 120px;
    width: 300px;
   
}
.easychat{
   
    text-align: right;
}
.easychat h1{
    font-size: 30px;
    font-family: 'Arial', monospace;
    font-weight: bold;
    color: white;
    position: relative;
    top: 20%;
    right: 5%;
}
.container {
    border-bottom: 1px solid white;
}
