.footer{
    position: absolute;
    top: 90%;
    left: 0%;
    right: 0%;
    min-height: 80px;
    background-color: #379a19;
    text-align: center;
    border-top: 1px solid grey;
    font-family: 'Roboto Mono', monospace;
}