.footer{
    position: fixed;
    bottom: 0%;
    width: 100%;
    min-height: 80px;
    max-height: 80px;
    background-color: #379a19;
    text-align: center;
    border-top: 1px solid grey;
    font-family: 'Roboto Mono', monospace;
    color: white;
    border: 1px solid black;
}