.footer{
    position: fixed;
    bottom: 0%;
    width: 100%;
    min-height: 60px;
    max-height: 60px;
    background-color: #379a19;
    text-align: center;
    color: white;
    border-top: 1px solid white;
}