
#wrapper {
    position: relative;
    top: 4%;
    width: 100%;
    padding-bottom:25px;
    background:  #379A19;
    border:1px solid white;
    height: auto; 
    border-radius: 10px;
}

.container {
    height: 550px;
    width: 100%;
    margin: 0;
    background-color:#c9e9c5;
    padding: 0%;
}

