form, p, span {
    margin:0;
    padding:0; }
  
#username { font:12px arial; 
    width: 40%;
    height: 30px;
    padding: 0px;
}
  
#usermsg {
    width: 100%;
    margin-left: 15px;
    border:1px solid black;
}

#submitmsg {
    height: 40px;
    width: 100%;
    border: 1px solid black;
}
  

.msgbefore{
    margin-left: 15px;
    height: 30px;
}
label.msgbefore {
    color: white;
}
