
#wrapper {
    position: relative;
    top: 4%;
    bottom: 60%;
    width: 100%;
    padding-bottom:25px;
    background: #38cf24;
    border:1px solid white;
    height: 100%; 
    border-radius: 10px;
}

.container {
    height: 550px;
    width: 100%;
    margin: 0;
    background-color:#1d5516;
}
  