
#wrapper {
    position: relative;
    top: 10%;
    bottom: 60%;
    width: 100%;
    padding-bottom:25px;
    background: #379a19;
    border:1px solid black;
    height: 100%;
    
    border:1px solid black; 
    border-radius: 10px;
}
  